
node_modules/
.npm
.eslintcache
.yarn-integrity
.cache
.cache/
.env
.env.local
.env.test
build/
out/
.serverless/
dist/*
!dist/mockServiceWorker.js  # keeping this file as its used in mockServer(with no env differenciation)